.contentDiv {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #7386D5;
    color:white;
    position: absolute;
    left: 0px;
    transition: width 0.3s;
}

.sideheader {
    background-color: #6d7fcc;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center; 
    padding-top: 10px;
    caret-color: transparent;
}

.sidebarbutton {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 10%;
    font-size: 12px;
    color:white;
    font-weight: bold;
    transition: left 0.3s;
}

ul.sidecontent > li{
    list-style-type: none;
    font-size: 24px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.resourcelink{
    cursor: pointer;
    caret-color: transparent;
}

.resourcelink:hover{
    color: #324A5F
}