.pageDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #CCC9DC; */
    background-color: lightgray;
    font-size:"30px";
    min-height: 100vh;
}

.pageContentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.videoDiv{
    overflow:hidden;
    width: max-content;
    border-style:solid;
    border-color: black   ;
    border-radius: 1vmax;
    border-width: 0.2vmax;
}

.ratio{
    height:20vmax;
    width: 30vmax;
}

.backButton {
    font-size: 20px;
    position: fixed;
    left: 10vh;
    top: 10vh;
    background-color: gray;
    border-color: #324A5F;
    border-width: 0.22vh;
}

.backButton:hover{
    background-color: #324A5F;
}
